* {
    font-size: 12px;
    
    
}

#taskdisplay {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    
}
.a{
     width: 100%;
    grid-column: 1;
    background-color: lightblue;
}
.b{
    width: 100%;
    grid-column: 2;
    background-color: lightcoral;
}
.c{
     width: 100%;
    grid-column: 3;
    background-color: lightyellow;
}
.d{
     width: 100%;
    grid-column: 4;
    background-color: lightgreen;
}
.task {
    width: 80%;
    background-color: white;
    border: 1px solid black;
    padding:5px;
    margin: 5px;
    border-radius: 10px;
}
li{
    list-style-type: none;
    background-color: white;
    
}