<!DOCTYPE html>
<html>
    <head>
        <script src="./login.ts"></script>
        <link rel="stylesheet" href="login.css">
    </head>
    <body>
        <header>
            Log In:
        </header>
        <section>
            <form> 
                <label>Username: </label><input id="uname" type="text">
                <label>Password: </label><input id="pass" type="text">
                <button type="submit" action="login"> Login </button>

            </form>
            
        </section>
        
    </body>
</html>