<!DOCTYPE html>
<html>
    <head>
        <script src="./register.ts"></script>
        <link rel="stylesheet" href="register.css">
    </head>
    <body>
        <header>
            <h1>Register New User:</h1>
        </header>
        <section class="regForm">
            <form> 
                <div class="regSection">
                    <label class="form-label a">Username: <input id="uname" type="text" required ></label>
                    <label class="form-label b">Email: <input id="email" type="text" required></label>
                    <label class="form-label c ">Password: <input id="pass" type="password" required></label>
                    <label class="form-label d ">Confirm Password: <input id="confirm" type="password" required></label>
                </div>
                <br>
                <h2>Optional information:</h2>
                <br>
                <div class="regSection">
                    <label class="form-label a ">First Name: <input id="first"  type="text"></label>
                    <label class="form-label b">Last Name: <input id="last" type="text"></label>
                    <label class="form-label c ">Phone Number: <input id="phone" type="text"></label>
                    <label class="form-label d ">Date of Birth: <input id="dob" type="date"></label>
                </div>
                <button type="button" (click)="register()"> Register </button>

            </form>
            
        </section>
        <section>
            <p id="msg"></p>
        </section>
        
    </body>
</html>