* {
    font-size: 14px;

    
}

#taskdisplay {
  
    width: 100%;
  
    gap: 5px;
    
}

.taskitem{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    width:  95%;
    border: 2px solid black;
    padding:10px;
    margin:5px;
    border-radius: 10px;
    align-items: left;
    gap: 5px;
 
}
.taskbuttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    width: 60%;
    border-color: black;
}
.taskbutton{
    grid-row: 1;
    grid-column: 2;
    
   
    margin: 10px;
    width: 80%;
    height: 30px;
 
}

.tasklist{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.tasktext{
    grid-column: 1;
    grid-row: 1;
    line-height: 1;
    text-align: left;
    width: 90%;
    padding: 5px;
    grid-row: 1;
}
.subtasktext{
    
    grid-row: 1;
   grid-column: 1;
    line-height: 1;
    width: 90%;
}
p{
    font-size: 14px;
}
strong{
    font-size: 16px;
}


.subtasklist{
    grid-row:2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width:120%;
    border: 1px solid black;
   
}

.subtaskitem{
    display: grid;
    grid-column: 1 2;
    
    grid-template-columns: 3fr 1fr;
    
    gap: 5px;
    width:  100%;
    border: 1px solid black;
    padding: 5px;
    
    border-radius: 10px;
    

}
.refresh{
    width: 30%;
    padding: 5px;
    margin: 10px;
   
}
nav{
    display: flex;
    justify-content: flex-end;
    width: 60%;
}
.subtaskbuttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 80%;
}
.subtaskbutton{
    grid-row: 1;
    padding: 5px 10px;
    margin: 5px;
    font-size: 12px;
    width:80%;
    grid-column: 2;
    max-height: 30px;
    align-items: center;
  
}

li{
    list-style-type: none;
   
    
}